* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  background: url('https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg') no-repeat;
  background-size: cover;
}

h1,
p {
  color: #fff;
  text-align: center;
}

canvas {
  margin-top: -150px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}